body{
    background-color: #1743ff;
    font-family: helvetica;
}

.container{
    position: relative;
}

.header{
    border: solid yellow 10px;
    background-color: #1743ff;
    padding: 10px;
    position: absolute;
    right: 10px;
}

.bodytext{
    color: yellow;
    font-size: 40px;
    position: absolute;
    top: 200px;
    left: 10px;
    border: solid yellow 5px;
    padding: 15px;
    margin: 15px;
    width: 700px;
}

#title{
    font-size: 100px;
    color: yellow;
}

#author{
    border: solid yellow 50px;
    background-color: yellow;
    color: #1743ff;
    font-size: 30px;
    position: absolute;
    top: 500px;
    right: 20px;
}
